<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burger Muncher</title>
    <link rel="stylesheet"
          type="text/css"
          href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
Stuff here
{{{ body }}}
under the body stuff
</body>
</html>