<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burger Muncher</title>
    <
    /Users/SilverDash/Documents/Bootcamp/burger-muncher/burger.css
    <link rel="stylesheet"
          type="text/css"
          href="../../burger.css">
</head>
<body>
Stuff here
{{{ body }}}
</body>
</html>