<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burger Muncher</title>
    <link rel="stylesheet"
          type="text/css"
          href="/./assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <meta property="og:url"
          content="https://fierce-plateau-64986.herokuapp.com/" />
    <meta property="og:type"
          content="application"/>
    <meta property="og:title"
          content="Burger Muncher"/>
    <meta property="og:description"
          content="Homework submission by Bon Crowder to The Houston Coding Bootcamp Powered by UT Austin"/>
    <meta property="og:image"
          content="../../public/assets/images/Burger-Muncher-Image.png"/>
    <link rel="icon"
          type="image/png"
          href="https://github.com/mathfour/GifTastic/blob/master/images/BonCrowderFaviconWhiteBackground.png">

</head>
<body>
{{{ body }}}
</body>
</html>