<h1>Burger Muncher</h1>

<p>image of burger or something</p>

<p>instructions</p>
<hr />
<div id="uneatenList" class="leftSide">
    <p>inside the index UNeaten</p>
    {{uneaten}}
</div>
<hr />
<div id="eatenList" class="rightSide">
    <p>inside the index EATEN</p>
    {{eaten}}
</div>

<hr />

<div id="inputArea">
    {{inputBurgerHere}}
</div>

