<p>This is the uneaten list</p>

<ul>
{{#each burgers}}
    <li>
        {{id}}. {{food}}
            <button class='eat-in-database' id={{id}}>eat me</button>
        </button>
    </li>
{{/each}}
</ul>
